// Table of Contents

// See mark-down file for how to use compass' rhythm and trailer/leader functions or check the compass documentation
// -------------------------------------------------------------

// ::Imports pre-render
	//:: Reset
	//:: Settings
	//:: Mixins
// ::Base styles


// ::Imports pre-render. Must be after reset
// ------------------------------------------------------------
@import "compass/typography/vertical_rhythm";
@import "compass/css3";
@import "compass/utilities";
@import "libs/reset";
@import "libs/settings";
@import "libs/typography";
@import "libs/page-transitions";
@import "libs/forms";
@import "libs/mixins";
@import "libs/animations";


/* ::Base styles Almost exclusively single element selectors */
/* ------------------------------------------------------------ */

html {
	height: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	height: 100%;
	width: 100%;
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    text-align: center;
    overflow: hidden;
    position: relative;
    color: white;
    @include clearfix();
}

.logo {
	position: absolute;
	top: 46px;
	@include horizontal-center(173px);
	height: 49px;
	background: url(../images/logo.png) no-repeat;
	z-index: 11;
}

.game_logo {
	position: absolute;
	top: 22px;
	height: 58px;
	@include horizontal-center(38px);
	background: url(../images/game_logo.png) no-repeat;
	z-index: 11;
	display: block;
}

main {
	height: 100%;
	width: 100%;
	z-index: 2;
	position: relative;
	background: url(../images/background.jpg) black no-repeat center center;
    @include transition(all 0.3s linear);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
    @include clearfix();
    float: left;

    &.open {
		margin-left: -380px;
    }
}

.game2, .game3 {
	
	main {
		background: url(../images/game2_background.jpg) black no-repeat;
	}
}

/* ::Menu  */
/* ----------------------------------------------------------- */
nav {
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	background: #070707;
	width: 380px;
	text-align: right;
	padding-right: 40px;
	//visibility: hidden;

	&.effeckt-show {
		visibility: visible;
	}

	ul {
		border-top: 1px solid #272727;

		li {
			border-bottom: 1px solid #272727;

			a {
				color: white;
				font-family: 'TradeGothicBold';
				text-decoration: none;
				font-size: 24px;
				line-height: 24px;
				display: block;
				padding: 19px 0 14px 0;
				text-tranform: uppercase;
			
				&:visited,
				&:hover {
					color: white;
				}
			}
		}
	}
}

.loading {
	@include verticle-center(90px);
  	@include horizontal-center(270px);
  	padding: 20px;
  	@include border-radius(5px);
  	border: 1px solid black;
  	background: black;
  	position: absolute;
  	@include opacity(0.8);
  	z-index: 11;
  	display: none;

  	.loading_text {
  		color: white;
  		font-family: 'TradeGothicBold';
  		font-size: 24px;
  	}
}


/* ::Panels  */
/* ----------------------------------------------------------- */
section {

	&.panel{
		width: 98%;
		min-height: 100%;
		position: absolute;
		z-index:2;
	}

	.content {
		text-align: center;
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		float: right;
		width: 100%;
	}
}

/* ::Page Specific  */
/* ----------------------------------------------------------- */

.activation {
	
	.button_box {
		padding-top: 26px;
	}

	button {
		min-width: 351px;
	}
}

%table_item_base {
	float: left;

	&:first-child {
		width: 416px;
		text-align: left;
		padding-left: 30px;
	}

	&:first-child+div {
		width: 141px;
	}

	&:first-child+div+div {
		width: 125px;
	}

	&:first-child+div+div+div {
		width: 105px;
	}

	&:first-child+div+div+div+div {
		width: 107px;
	}

	&:first-child+div+div+div+div+div {
		width: 108px;
	}

	&:first-child+div+div+div+div+div+div {
		width: 150px;
		border-right: none;
	}
}

.activation_reports {

	.tableContainer {
		@include border-radius(5px);
		width: 1160px;
		border: 2px solid #292929;
		margin: 0 auto 20px auto;
	}

	.table_header {
		background: -webkit-linear-gradient(90deg, #0d0d0d 0%, #1a1a1a 100%);
		background: -moz-linear-gradient(90deg, #0d0d0d 0%, #1a1a1a 100%);
		background: -o-linear-gradient(90deg, #0d0d0d 0%, #1a1a1a 100%);
		background: -ms-linear-gradient(90deg, #0d0d0d 0%, #1a1a1a 100%);
		background: linear-gradient(0deg, #0d0d0d 0%, #1a1a1a 100%);
		margin-bottom: -1px;
		@include clearfix();

		&__item {
			font-family: 'TradeGothicBold';
			font-size: 18px;
			line-height: 18px;
			color: #c59b4e;
			text-transform: uppercase;
			padding: 32px 0;
			border-right: 1px solid #171717;
			@extend %table_item_base;
		}
	}

	.table_body {
		overflow-y: scroll;
		max-height: 320px;

		.table_row {
			background: #242424;
			@include clearfix();

			&:nth-child(odd) {
				background: #1f1f1f;
			}

			&__item {
				padding: 20px 0;
				color: white;
				font-size: 20px;
				line-height: 20px;
				font-family: 'TradeGothicBoldCondensed18';
				text-align: center;
				border-right: 1px solid #333333;
				@extend %table_item_base;
			}
		}
	}
}
/* ::Footer  */
/* ----------------------------------------------------------- */
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 45px;
	width: 100%;
	overflow-y: auto;
    overflow-x: hidden;
	background: url(../images/footer.jpg) white no-repeat center center;
}

/* ::Game1  */
/* ----------------------------------------------------------- */

.game {
	padding-top: 95px;
}

.game_title {
	font-family: 'TradeGothicBold';
	font-size: 36px;
	line-height: 36px;
	color: #caaa72;
	text-transform: uppercase;
	display: block;
	margin-bottom: 14px;
	@include text-shadow(#000000 0px 3px 2px);

	&:after {
		content: '';
		display: block;
		width: 309px;
		height: 12px;
		margin: 0 auto;
		background: url(../images/game_title_underline.png)
	}
}

.game_instructions {
	font-family: 'TradeGothicBoldCondensed18';
	font-size: 23px;
	color: white;
	display: block;
}

.game1_stage {
	width: 1140px;
	margin: 0 auto;
	background: url(../images/game1_pluses.png) no-repeat center center;

	ul {
		position: relative;
		height: 420px;
		margin-bottom: 35px;
		overflow:hidden;

		li {
			width: 380px;
			height: 420px;
			float: left;
			position: relative;

			&.image1 {
				background: url(../images/game1_image1.png) no-repeat center bottom;
			}

			&.image2 {
				background: url(../images/game1_image2.png) no-repeat center bottom;
			}

			&.image3 {
				background: url(../images/game1_image3.png) no-repeat center bottom;
			}

			.order {
				font-family: 'TradeGothicBold';
				position: absolute;
				font-size: 18px;
				color: #debd7c;
				@include horizontal-center(40px);
				bottom: 33px;
			}
		}
	}
}

/* ::Game 2  */
/* ----------------------------------------------------------- */
.game2_checkboxes {
	width: 824px;
	margin: 25px auto 0 auto;
	text-align: justify;

	li {
		display: inline-block;
		width: 170px;
		text-align: center;
		margin-bottom: 25px;
		position: relative;

		.select_state {
			position: absolute;
			display: none;
			width: 414px;
			height: 414px;
			top: -122px;
			left: -123px;
		}

		&.correct .select_state {
			background: url(../images/game2_correct_state.png) no-repeat;
		}

		&.incorrect .select_state {
			background: url(../images/game2_incorrect_state.png) no-repeat;
		}

		img {
			border: 2px solid black;
			@include border-radius(50%);
			margin-bottom: 15px;
			display: block;
			margin: 0 auto;
		}

		.option_text {
			font-family: 'TradeGothicBold';
			font-size: 14px;
			color: white;
			text-transform: uppercase;
			display: inline-block;
			margin-top: 15px;
		}

		&.checked {
			
			.select_state {
				display: block;
			}

			.option_text {
				color: #dfbe87;
			}
		}

		&:nth-child(n+4) {
			margin-bottom: 0;
		}
	}

	&:after{
	  content: '';
	  display: inline-block;
	  width: 100%;
	}
}

/* ::Game 3  */
/* ----------------------------------------------------------- */	
.game3_stage {
	width: 1152px;
	margin: 0 auto;
}

.slide {
	height: 340px;
	width: 1152px;

	.question {
		display: block;
		font-family: 'TradeGothicBold';
		font-size: 27px;
		text-align: center;
		padding-top: 46px;
		margin-bottom: 60px;
	}

	.question_options {
		width: 875px;
		margin: 0 auto;

		.option {
			width: 430px;
			float: left;
			background: -webkit-linear-gradient(90deg, #242424 0%, #333333 100%);
			background: -moz-linear-gradient(90deg, #242424 0%, #333333 100%);
			background: -o-linear-gradient(90deg, #242424 0%, #333333 100%);
			background: -ms-linear-gradient(90deg, #242424 0%, #333333 100%);
			background: linear-gradient(0deg, #242424 0%, #333333 100%);
			font-family: 'TradeGothicBold';
			@include border-radius(5px);
			font-size: 28px;
			padding: 23px 20px 13px 40px;
			margin-bottom: 15px;
			color: white;
			text-align: left;

			&.selected {
				color: black;
				background: #d5b67d;
				@include box-shadow(#4d3f2e 0px 0px 20px);

				&:before {
					color: black;
				}
			}

			&:nth-child(odd) {
				margin-right: 15px;
			}

			&:before {
				content: attr(data-option);
				display: inline-block;
				color: #dfbe87;
				padding-right: 15px;
				margin-right: 15px;
				border-right: 1px solid black;
			}
		}
	}
}

/* ::Buttons  */
/* ----------------------------------------------------------- */
%button_base {
	font-family: 'TradeGothicBoldExtended';
	padding: 28px 55px 24px 55px;
	letter-spacing: 4px;
	display: inline-block;
	border: none;
	@include border-radius(5px);
	@include box-shadow(#a48856 0px -2px 0px inset);
	font-size: 15px;
	line-height: 15px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.brown_button {
	@extend %button_base;
	color: #4f432e;
	background: -webkit-linear-gradient(90deg, #c1a46f 0%, #edcc8d 100%);
	background: -moz-linear-gradient(90deg, #c1a46f 0%, #edcc8d 100%);
	background: -o-linear-gradient(90deg, #c1a46f 0%, #edcc8d 100%);
	background: -ms-linear-gradient(90deg, #c1a46f 0%, #edcc8d 100%);
	background: linear-gradient(0deg, #c1a46f 0%, #edcc8d 100%);
}

.grey_button {
	@extend %button_base;
	color: white;
	background: -webkit-linear-gradient(90deg, #212121 0%, #2e2e2e 100%);
	background: -moz-linear-gradient(90deg, #212121 0%, #2e2e2e 100%);
	background: -o-linear-gradient(90deg, #212121 0%, #2e2e2e 100%);
	background: -ms-linear-gradient(90deg, #212121 0%, #2e2e2e 100%);
	background: linear-gradient(0deg, #212121 0%, #2e2e2e 100%);
	@include box-shadow(#3b3b3b 0px 2px 0px inset);
}

.cancel_button {
	font-family: 'TradeGothicBoldCondensed18';
	font-size: 22px;
	color: #d6b77d;
	text-decoration: none;
	margin-top: 18px;
	display: inline-block;

	&:before {
		content: '';
		display: inline-block;
		width: 18px;
		height: 18px;
		background: url(../images/close_icon.png);
		margin-right: 5px;
	}

	&:hover,
	&:visited {
		color: #d6b77d;
	}
}

%menu_button {
	display: inline-block;
	font-family: 'TradeGothicBold';
	font-size: 18px;
	line-height: 18px;
	color: white;
	text-transform: uppercase;
	padding: 19px 20px 14px 20px;
	z-index: 11;
	text-decoration: none;
	border: none;
	@include border-radius(5px);
	@include box-shadow(#3b3b3b 0px 2px 0px inset);
	background: -webkit-linear-gradient(90deg, #212121 0%, #2e2e2e 100%);
	background: -moz-linear-gradient(90deg, #212121 0%, #2e2e2e 100%);
	background: -o-linear-gradient(90deg, #212121 0%, #2e2e2e 100%);
	background: -ms-linear-gradient(90deg, #212121 0%, #2e2e2e 100%);
	background: linear-gradient(0deg, #212121 0%, #2e2e2e 100%);

	&:after {
		content: '';
		display: inline-block;
		margin-left: 43px;
		verticle-align: middle;
	}

	&:visited,
	&:hover {
		color: white;
	}

	&:active,
	&:focus {
		border: none;
		outline: 0;
	}
}

.menu_open {
	@extend %menu_button;
	position: absolute;
	top: 40px;
	right: 40px;

	&:after {
		width: 20px;
		height: 14px;
		background: url(../images/menu_icon.png);
	}
}

.menu_close {
	@extend %menu_button;
	position: relative;
	margin-bottom: 37px;
	margin-top: 40px;
	top: 0;
	right: 0;

	&:after {
		width: 16px;
		height: 16px;
		background: url(../images/menu_close_icon.png);
	}
}

/* ::Splash Screens  */
/* ----------------------------------------------------------- */
.splash {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 12;
	background-size: 100% 100%;
	display: none;
	
	&.win {
		background: url(../images/win_splash.jpg);
	}

	&.loose {
		background: url(../images/loose_splash.jpg);
	}
	img {
		max-width: 100%;
		display: block;
	}
}

/* ::helpers  */
/* ----------------------------------------------------------- */
.hide {
	display: none;
}
